<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Website Design - Easy Tutorials</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="header" id="header">
      <nav>
          <img src="{{ url_for('static', filename='imgp/porsche_logo_PNG1.png') }}" class="logo">
          <ul>
              <li><a href="#" id="911">Porsche 911</a></li>
              <li><a href="#" id="911-S">Porsche 911 S</a></li>
              <li><a href="#" id="911-GTS">Porsche 911 GTS</a></li>
              <li><a href="#" id="911-GT3">Porsche 911 GT3</a></li>
              <li><a href="#" id="911-RS">Porsche 911 RS</a></li>
          </ul>
          <a href="#" class="btn">Reserve Now</a>
      </nav>
      <div class="info" id="info-container">
          <!-- Default information for Porsche 911 -->
          <div id="info-911">
              <div>
                  <h2>3,9 S</h2>
                  <p>Acceleration 0 - 100 km/h with Sport Chrono Package</p>
              </div>
              <div>
                  <h2>290 kW / 394 PS</h2>
                  <p>Power (kW)/Power (PS)</p>
              </div>
              <div>
                  <h2>294 km/h</h2>
                  <p>Top speed</p>
              </div>
              <div>
                  <h2>379 hp</h2>
                  <p>Power (hp)</p>
              </div>
              <div class="line"></div>
              <div>
                  <h2>911 Carrera</h2>
              </div>
          </div>

          <!-- Information for Porsche 911 S -->
          <div id="info-911-S" style="display: none;">
              <div>
                  <h2>3,5 S</h2>
                  <p>Acceleration 0 - 100 km/h with Sport Chrono Package</p>
              </div>
              <div>
                  <h2>286 kW / 525 PS</h2>
                  <p>Power (kW)/Power (PS)</p>
              </div>
              <div>
                  <h2>307 km/h</h2>
                  <p>Top speed</p>
              </div>
              <div>
                  <h2>478 hp</h2>
                  <p>Power (hp)</p>
              </div>
              <div class="line"></div>
              <div>
                  <h2>911 Carrera S</h2>
              </div>
          </div>

          <!-- Information for Porsche 911 GTS -->
          <div id="info-911-GTS" style="display: none;">
              <div>
                  <h2>3 S</h2>
                  <p>Acceleration 0 - 100 km/h with Sport Chrono Package</p>
              </div>
              <div>
                  <h2>398 kW / 541 PS</h2>
                  <p>Power (kW)/Power (PS)</p>
              </div>
              <div>
                  <h2>312 km/h</h2>
                  <p>Top speed</p>
              </div>
              <div>
                  <h2>532 hp</h2>
                  <p>Power (hp)</p>
              </div>
              <div class="line"></div>
              <div>
                  <h2>911 Carrera GTS</h2>
              </div>
          </div>

          <!-- Information for Porsche 911 GT3 -->
          <div id="info-911-GT3" style="display: none;">
              <div>
                  <h2>3,4 S</h2>
                  <p>Acceleration 0 - 100 km/h with Sport Chrono Package</p>
              </div>
              <div>
                  <h2>375 kW / 510 PS</h2>
                  <p>Power (kW)/Power (PS)</p>
              </div>
              <div>
                  <h2>318 km/h</h2>
                  <p>Top speed</p>
              </div>
              <div>
                  <h2>502 hp</h2>
                  <p>Power (hp)</p>
              </div>
              <div class="line"></div>
              <div>
                  <h2>911 GT3</h2>
              </div>
          </div>

          <!-- Information for Porsche 911 RS -->
          <div id="info-911-RS" style="display: none;">
              <div>
                  <h2>3,2 S</h2>
                  <p>Acceleration 0 - 100 km/h with Sport Chrono Package</p>
              </div>
              <div>
                  <h2>386 kW / 525 PS</h2>
                  <p>Power (kW)/Power (PS)</p>
              </div>
              <div>
                  <h2>296 km/h</h2>
                  <p>Top speed</p>
              </div>
              <div>
                  <h2>518 hp</h2>
                  <p>Power (hp)</p>
              </div>
              <div class="line"></div>
              <div>
                  <h2>911 Carrera RS</h2>
              </div>
          </div>
      </div>
  </div>

  <script>
    var header = document.getElementById("header");
    var infoContainer = document.getElementById("info-container");

    var Carrera = document.getElementById("911");
    var S = document.getElementById("911-S");
    var GTS = document.getElementById("911-GTS");
    var GT3 = document.getElementById("911-GT3");
    var RS = document.getElementById("911-RS");

    Carrera.onclick = function () {
        header.style.backgroundImage = "url('{{ url_for('static', filename='imgp/iris (6).webp') }}')";
        showInfo('info-911');
    }
    S.onclick = function () {
        header.style.backgroundImage = "url('{{ url_for('static', filename='imgp/iris (37).webp') }}')";
        showInfo('info-911-S');
    }
    GTS.onclick = function () {
        header.style.backgroundImage = "url('{{ url_for('static', filename='imgp/iris (43).webp') }}')";
        showInfo('info-911-GTS');
    }
    GT3.onclick = function () {
        header.style.backgroundImage = "url('{{ url_for('static', filename='imgp/iris (22).webp') }}')";
        showInfo('info-911-GT3');
    }
    RS.onclick = function () {
        header.style.backgroundImage = "url('{{ url_for('static', filename='imgp/iris (29).webp') }}')";
        showInfo('info-911-RS');
    }

    function showInfo(infoId) {
        var infos = infoContainer.children;
        for (var i = 0; i < infos.length; i++) {
            infos[i].style.display = 'none';
        }
        document.getElementById(infoId).style.display = 'block';
    }
  </script>
</body>
</html>
